.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

#title-name {
  text-align: center;
}

#subtitle {
  text-align: center;
  color: grey;
}

.speed-dial {
  position: fixed;
  bottom: 15vh;
  right: 5vw;
}

.link {
  text-decoration: none;
  color: black;
}

.bio-links {
  text-decoration: none;
}

.no-decoration {
  text-decoration: none;
}

.link-item:hover {
  background-color: rgb(51, 118, 203, 1.0);
  color: white;
  font-weight: bold;
  box-shadow: 5px 5px 5px lightgray;
  transition: all;
  transition-duration: 600ms;
}

.projects-link-item:hover {
  background-color: rgb(145, 55, 170, 1.0);
  color: white;
  font-weight: bold;
  box-shadow: 5px 5px 5px lightgray;
  transition: all;
  transition-duration: 600ms;
}

#work-list {
  list-style-type: none;
}

#work-list li {
  margin-bottom: 5px;
}

#work-list li a {
  text-decoration: none;
  color: rgb(51, 118, 203, 1.0);
}

.funily-images {
  max-height: 800;
}

#manage-it-list {
  list-style-type: ">> ";
}

@media (min-width: 1205px ) {
  .approve-it-images {
    width: 1000px !important;
  }
}

@media screen and (min-width: 1250px) {
  .speed-dial {
    position: fixed;
    right: 15vw;
  }
}